repos:
-   repo: local
    hooks:
    -   id: init_py_files
        name: __init__.py files
        entry: python3 tests/build-init-files.py -v --root .
        language: python
        pass_filenames: false
        additional_dependencies: [click~=7.1]
# The following, commented hook is the usual way to add isort. However, it doesn't work in some environments.
# See https://github.com/PyCQA/isort/issues/1874#issuecomment-1002212936
# -----------------------------------------------------
# - repo: https://github.com/pycqa/isort
#   rev: 5.9.3
#   hooks:
#   - id: isort
# -----------------------------------------------------
#  The hook below is the workaround for the issue above.
-   repo: local
    hooks:
    -   id: isort
        name: isort
        entry: isort
        require_serial: true
        language: python
        language_version: python3
        types_or: [cython, pyi, python]
        args: ['--filter-files']
        minimum_pre_commit_version: '2.9.2'
        additional_dependencies: [isort==5.10.1]
-   repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.8.0-1
    hooks:
    -   id: shfmt
        args: ["--diff", "--write", "-i", "2"]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
        exclude: ".*?(.hex|.clvm|.clib)"
    -   id: trailing-whitespace
    -   id: check-merge-conflict
    -   id: check-ast
    -   id: debug-statements
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        require_serial: true
        types_or: [python, pyi]
-   repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
    - id: flake8
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: ./activated.py mypy
        language: system
        pass_filenames: false
